*.py[cod]
venv/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

_d3_snapshots/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# emacs
*~

# ipython
.ipynb_checkpoints

# documentation
doc/_build
doc/examples
doc/notebooks
doc/_static

# submodules
mpld3/mplexporter

# npm
node_modules
package-lock.json

# testing outputs
_pngs
_test_plots.html
mpld3/test_plots_results

# vim
*.sw*

# OSX
.DS_Store

# virtualenv
virtualenv/
